.skeletonCard {
    background-color: var(--bg-card, #171717);
    border-radius: var(--radius-md, 12px);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    
    /* El mismo efecto de brillo del grande */
    &::after {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.05) 20%,
            rgba(255, 255, 255, 0.1) 60%,
            rgba(255, 255, 255, 0)
        );
        animation: shimmer 2s infinite;
    }
}

.skeletonTitle, .skeletonIcon, .skeletonLocation, .skeletonDate, .skeletonBadge {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skeletonTitle { width: 70%; height: 20px; }
.skeletonIcon { width: 28px; height: 28px; border-radius: 50%; }

.skeletonLocation { width: 50%; height: 14px; }

.footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Empuja el footer hacia abajo si la tarjeta crece */
}

.skeletonDate { width: 40%; height: 14px; }
.skeletonBadge { width: 30%; height: 24px; border-radius: 12px;}

@keyframes shimmer {
    100% { transform: translateX(100%); }
}